<div class="container">
  <div [hidden]="submitted">
    <h1>Are limitations in range of motion present of the:</h1>

    <form (ngSubmit)="onSubmit()" #ratingsForm="ngForm">
      <div class="form-group">
        <div class="Labels">
          <label for="nameinput">Name:</label>
            <input type="text" class="form-control" value="Name" ng-model="model.name" id="control1"
            required
            [(ngModel)]="model.name" name="nameinput"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="dateinput">Date:</label>
            <input type="text" class="form-control" value="Date" ng-model="model.date" id="control2"
            required
            [(ngModel)]="model.date" name="dateinput"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="timeinput">Time:</label>
            <input type="text" class="form-control" value="time" ng-model="model.time" id="control3"
            required
            [(ngModel)]="model.time" name="timeinput"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="hipinput">Hip Flexors:</label>
          <div>Yes</div>
            <input type="radio" class="option-input radio" value="true" ng-model="model.hip_flexors" id="control4"
            required
            [(ngModel)]="model.hip_flexors" name="hipinput1"
            #rating1="ngModel">
            <div>No</div>
            <input type="radio" class="option-input radio" value="false" ng-model="model.hip_flexors" id="control5"
            required
            [(ngModel)]="model.hip_flexors" name="hipinput2"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="rom1input">ROM:</label>
            <input type="number" class="form-control" value="0" ng-model="model.rom1" id="control6"
            required
            [(ngModel)]="model.rom1" name="rom1input"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="nameinput">If Yes they are:</label>
            <div>Minimal(No limitations to function)</div>
            <input type="radio" class="option-input radio" value="Minimal(No limitations to function)" ng-model="model.ifyes1" id="control7"
            required
            [(ngModel)]="model.ifyes1" name="yesinput1-1"
            #rating1="ngModel">
            <div>Moderate(Some limitations adacptions necessary)</div>
            <input type="radio" class="option-input radio" value="Moderate(Some limitations adacptions necessary)" ng-model="model.ifyes1" id="control8"
            required
            [(ngModel)]="model.ifyes1" name="yesinput1-2"
            #rating1="ngModel">
            <div>Severe(Imposing limits to functions)</div>
            <input type="radio" class="option-input radio" value="Severe(Imposing limits to functions)" ng-model="model.ifyes1" id="control9"
            required
            [(ngModel)]="model.ifyes1" name="yesinput1-3"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="commentbox1">Comments:</label>
          <br>
            <textarea name="name" rows="8" cols="80" type="text" class="textarea" ng-model="model.comment1" id="control55"
            [(ngModel)]="model.comment1" name="commentbox1"
            #rating1="ngModel"></textarea>
        </div>
      </div>
      <br>

      <div class="form-group">
        <div class="Labels">
          <label for="hipinput">Knee Flexors:</label>
          <div>Yes</div>
            <input type="radio" class="option-input radio" value="true" ng-model="model.knee_flexors" id="control10"
            required
            [(ngModel)]="model.knee_flexors" name="kneeinput1"
            #rating1="ngModel">
            <div>No</div>
            <input type="radio" class="option-input radio" value="false" ng-model="model.knee_flexors" id="control11"
            required
            [(ngModel)]="model.knee_flexors" name="kneeinput2"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="rom2input">ROM:</label>
            <input type="number" class="form-control" value="0" ng-model="model.rom2" id="control12"
            required
            [(ngModel)]="model.rom2" name="rom2input"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="nameinput">If Yes they are:</label>
          <div>Minimal(No limitations to function)" ng-model="model.ifyes2</div>
            <input type="radio" class="option-input radio" value="Minimal(No limitations to function)" ng-model="model.ifyes2" id="control13"
            required
            [(ngModel)]="model.ifyes2" name="yesinput2-1"
            #rating1="ngModel">
            <div>Moderate(Some limitations adacptions necessary)</div>
            <input type="radio" class="option-input radio" value="Moderate(Some limitations adacptions necessary)" ng-model="model.ifyes2" id="control14"
            required
            [(ngModel)]="model.ifyes2" name="yesinput2-2"
            #rating1="ngModel">
            <div>Severe(Imposing limits to functions)</div>
            <input type="radio" class="option-input radio" value="Severe(Imposing limits to functions)" ng-model="model.ifyes2" id="control15"
            required
            [(ngModel)]="model.ifyes2" name="yesinput2-3"
            #rating1="ngModel">

        </div>
      </div>

      <div class="form-group">
        <div class="Labels">
          <label for="nameinput">Comments:</label>
          <br>
          <textarea name="name" rows="8" cols="80" type="text" class="textarea" ng-model="model.comment2" id="control57"
          [(ngModel)]="model.comment2" name="commentbox2"
          #rating1="ngModel"></textarea>
        </div>
      </div>

      <br>

      <div class="form-group">
        <div class="Labels">
          <label for="ankleinput">Ankle plantar Flexors:</label>
          <div>Yes</div>
            <input type="radio" class="option-input radio" value="true" ng-model="model.ankle_flexors" id="control16"
            required
            [(ngModel)]="model.ankle_flexors" name="ankleinput1"
            #rating1="ngModel">
            <div>No</div>
            <input type="radio" class="option-input radio" value="false" ng-model="model.ankle_flexors" id="control17"
            required
            [(ngModel)]="model.ankle_flexors" name="ankleinput2"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="rom3input">ROM:</label>
            <input type="number" class="form-control" value="0" ng-model="model.rom3" id="control18"
            required
            [(ngModel)]="model.rom3" name="rom3input"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="nameinput">If Yes they are:</label>
          <div>Minimal(No limitations to function)</div>
            <input type="radio" class="option-input radio" value="Minimal(No limitations to function)" ng-model="model.ifyes3" id="control19"
            required
            [(ngModel)]="model.ifyes3" name="yesinput3-1"
            #rating1="ngModel">
            <div>Moderate(Some limitations adacptions necessary)</div>
            <input type="radio" class="option-input radio" value="Moderate(Some limitations adacptions necessary)" ng-model="model.ifyes3" id="control20"
            required
            [(ngModel)]="model.ifyes3" name="yesinput3-2"
            #rating1="ngModel">
            <div>Severe(Imposing limits to functions)</div>
            <input type="radio" class="option-input radio" value="Severe(Imposing limits to functions)" ng-model="model.ifyes3" id="control21"
            required
            [(ngModel)]="model.ifyes3" name="yesinput3-3"
            #rating1="ngModel">
        </div>
      </div>

      <div class="form-group">
        <div class="Labels">
          <label for="nameinput">Comments:</label>
          <br>
          <textarea name="name" rows="8" cols="80" type="text" class="textarea" ng-model="model.comment3" id="control58"
          [(ngModel)]="model.comment3" name="commentbox3"
          #rating1="ngModel"></textarea>
        </div>
      </div>

      <br>

      <div class="form-group">
        <div class="Labels">
          <label for="elbowinput">Elbow Flexors:</label>
          <div>Yes</div>
            <input type="radio" class="option-input radio" value="true" ng-model="model.elbow_flexors" id="control22"
            required
            [(ngModel)]="model.elbow_flexors" name="elbowinput2"
            #rating1="ngModel">
            <div>No</div>
            <input type="radio" class="option-input radio" value="false" ng-model="model.elbow_flexors" id="control23"
            required
            [(ngModel)]="model.elbow_flexors" name="elbowinput1"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="rom4input">ROM:</label>
            <input type="number" class="form-control" value="0" ng-model="model.rom4" id="control24"
            [(ngModel)]="model.rom4" name="rom4input"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="nameinput">If Yes they are:</label>
          <div>Minimal(No limitations to function)</div>
            <input type="radio" class="option-input radio" value="Minimal(No limitations to function)" ng-model="model.ifyes4" id="control25"
            required
            [(ngModel)]="model.ifyes4" name="yesinput4-1"
            #rating1="ngModel">
            <div>Moderate(Some limitations adacptions necessary)</div>
            <input type="radio" class="option-input radio" value="Moderate(Some limitations adacptions necessary)" ng-model="model.ifyes4" id="control26"
            required
            [(ngModel)]="model.ifyes4" name="yesinput4-2"
            #rating1="ngModel">
            <div>Severe(Imposing limits to functions)</div>
            <input type="radio" class="option-input radio" value="Severe(Imposing limits to functions)" ng-model="model.ifyes4" id="control27"
            required
            [(ngModel)]="model.ifyes4" name="yesinput4-3"
            #rating1="ngModel">
        </div>
      </div>

      <div class="form-group">
        <div class="Labels">
          <label for="nameinput">Comments:</label>
          <br>
          <textarea name="name" rows="8" cols="80" type="text" class="textarea" ng-model="model.comment4" id="control500"
          [(ngModel)]="model.comment4" name="commentbox4"
          #rating1="ngModel"></textarea>
        </div>
      </div>

      <br>

      <div class="form-group">
        <div class="Labels">
          <label for="elbowinput">Forarm Supination:</label>
          <div>Yes</div>
            <input type="radio" class="option-input radio" value="true" ng-model="model.forarm" id="control28"
            required
            [(ngModel)]="model.forarm" name="hipinput"
            #rating1="ngModel">
            <div>No</div>
            <input type="radio" class="option-input radio" value="false" ng-model="model.forarm" id="control29"
            required
            [(ngModel)]="model.forarm" name="forarminput"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="rom4input">ROM:</label>
            <input type="number" class="form-control" value="0" ng-model="model.rom5" id="control30"
            required
            [(ngModel)]="model.rom5" name="rom5input"
            #rating1="ngModel">
        </div>
      </div>
      <div class="form-group">
        <div class="Labels">
          <label for="nameinput">If Yes they are:</label>
          <div>Minimal(No limitations to function)</div>
            <input type="radio" class="option-input radio" value="Minimal(No limitations to function)" ng-model="model.ifyes5" id="control31"
            required
            [(ngModel)]="model.ifyes5" name="yesinput5-1"
            #rating1="ngModel">
            <div>Moderate(Some limitations adacptions necessary)</div>
            <input type="radio" class="option-input radio" value="Moderate(Some limitations adacptions necessary)" ng-model="model.ifyes5" id="control32"
            required
            [(ngModel)]="model.ifyes5" name="yesinput5-2"
            #rating1="ngModel">
            <div>Severe(Imposing limits to functions)</div>
            <input type="radio" class="option-input radio" value="Severe(Imposing limits to functions)" ng-model="model.ifyes5" id="control33"
            required
            [(ngModel)]="model.ifyes5" name="yesinput5-3"
            #rating1="ngModel">
        </div>
      </div>

      <div class="form-group">
        <div class="Labels">
          <label for="nameinput">Comments:</label>
          <br>
          <textarea name="name" rows="8" cols="80" type="text" class="textarea" ng-model="model.comment5" id="control66"
          [(ngModel)]="model.comment5" name="commentbox5"
          #rating1="ngModel"></textarea>
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!ratingsForm.form.valid">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">1. Name.</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">2. Date.</div>
      <div class="col-xs-9">{{ model.date }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">3. Time.</div>
      <div class="col-xs-9">{{ model.time }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">4. Hip Flexors.</div>
      <div class="col-xs-9">{{ model.hip_flexors }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">5. ROM1.</div>
      <div class="col-xs-9">{{ model.rom1 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">6. If yes they are.</div>
      <div class="col-xs-9">{{ model.ifyes1 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Comments.</div>
      <div class="col-xs-9">{{ model.comment1 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">7. Knee Flexors</div>
      <div class="col-xs-9">{{ model.knee_flexors }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">8. ROM2</div>
      <div class="col-xs-9">{{ model.rom2 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">9. If yes they are</div>
      <div class="col-xs-9">{{ model.ifyes2 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Comments.</div>
      <div class="col-xs-9">{{ model.comment2 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">10. Ankle plantar Flexors.</div>
      <div class="col-xs-9">{{ model.ankle_flexors }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">11. ROM3</div>
      <div class="col-xs-9">{{ model.rom3 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">12. If yes they are</div>
      <div class="col-xs-9">{{ model.ifyes3 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Comments.</div>
      <div class="col-xs-9">{{ model.comment3 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">13. Elbow Flexors</div>
      <div class="col-xs-9">{{ model.elbow_flexors}}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">14. ROM4</div>
      <div class="col-xs-9">{{ model.rom4 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">14. If yes they are</div>
      <div class="col-xs-9">{{ model.ifyes4 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Comment4.</div>
      <div class="col-xs-9">{{ model.ifyes1 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">15. Forarm Supination:</div>
      <div class="col-xs-9">{{ model.forarm}}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">16. ROM:</div>
      <div class="col-xs-9">{{ model.rom5}}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">17. If yes they are:</div>
      <div class="col-xs-9">{{ model.ifyes5}}</div>
    </div>17.
    <div class="row">
      <div class="col-xs-3"> Comments:</div>
      <div class="col-xs-9">{{ model.comment5}}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
</div>
